.classpath
.factorypath
.project
.settings/
*.class
*.log
*.zip
*.jar
*.tar.gz
*.png
/target/
/src/test/data/*~
/src/test/data/*.log
/src/main/resources/
nb*.xml
Thumbs.db
/nbproject/
release.properties
*.releaseBackup
