.classpath
.project
.settings/
*.class
*.log
*.zip
*.jar
*.tar.gz
AdjustTime.ini
/target/
/src/test/data/*~
/src/test/data/*.log
/src/test/data/cameradata/
/src/test/data/output
nb*.xml
Thumbs.db
/nbproject/
release.properties
